* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.9);
	background-color: rgba(240, 240, 240, 0.9);
}

header {
	background: linear-gradient(
		45deg,
		rgba(70, 229, 215, 0.834),
		rgba(30, 143, 151, 0.8)
	);
	text-align: center;
	padding: 1.2rem;
}

header img {
    max-width: 300px;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

header p {
    background-color: #fff;
    border-radius: 1rem;
    max-width: 300px;
    margin: auto;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh
    margin-bottom: 2rem;
}

main h2 {
    color: rgba(54, 54, 54, 0.834);
    margin-bottom: 1rem;
}

main label {
    margin: 0.5rem auto;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    display: block;
}

main input{
    padding: 0.5rem;
    margin: 0.5rem auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: fit-content;
    align-self: center;
    display: block;
}

main button {
    margin-top: 0.5rem;
    padding: 0.7rem 1.5rem;
    background-color: #1e8f97;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    align-self: center;
}

main button:hover {
    background-color: #14666a;
}

main #signUpClientForm {
    background-color: #ffffff;
    padding: 1rem 3rem;
    border: #14666a 2px solid;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: black 2px 2px 3px;
}

table { 
    background-color: #ffffff;
    padding: 1rem 3rem;
    border: #14666a 2px solid;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    box-shadow: black 2px 2px 3px;
}

tbody tr td{
    text-align: center;
    padding: 0 2rem;
    margin: 0 1rem;
}

tbody tr td button{
    background-color: #ee1800c9;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: auto;
}

tbody tr td button:hover{
    background-color: #b01400c9;
}
